Repository YP-KVAS/Rover-game: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, prettier --write, eslint --fix

feat: forum page with categories list
  packages/client/src/components/ForumCategory/ForumCategory.module.scss
  packages/client/src/components/ForumCategory/ForumCategory.tsx
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/ForumCategory.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/store.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/const-variables/routes.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

fix: function parameter name
  packages/client/src/game-engine/game-objects/Rover.ts
Due: prettier --write, eslint --fix

feat: forum category page with topics list, AddForumTopic component
  packages/client/src/components/Form/Form.module.scss
  packages/client/src/components/FormInput/FormInput.module.scss
  packages/client/src/components/FormInput/FormInput.tsx
  packages/client/src/components/Forum/AddForumTopic.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumCategory.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
  packages/client/src/components/ForumCategory/ForumCategory.module.scss
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/ForumCategories.tsx
  packages/client/src/pages/Forum/ForumCategory.tsx
  packages/client/src/pages/Forum/ForumLayout.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forms.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/validation.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: forum topic page with nested comments list
  packages/client/index.html
  packages/client/public/images/icons-sprite.svg
  packages/client/src/components/FormInput/FormInput.module.scss
  packages/client/src/components/Forum/AddForumItems/AddForumComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemForm.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemWithState.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/AddForumTopic.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/Layout/Layout.module.scss
  packages/client/src/components/Loader/Loader.module.scss
  packages/client/src/index.scss
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/selectors/user-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/slices/user-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/store/thunks/user-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/const-variables/routes.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/rest-api/user-api.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/validation.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: update, delete forum topic functionality
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumTopicName.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumLayout.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/validation.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: update and delete forum comments
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumComment.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumTopicName.tsx
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
  packages/client/src/pages/Forum/ForumCategories.tsx
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumLayout.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
Due: prettier --write, eslint --fix

fix: fake-api
  packages/client/src/utils/rest-api/forum-api.ts
Due: prettier --write, eslint --fix

fix: forum comment delete (close opened inputs), user-settings forms reset on close
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/UserData/UserData.tsx
  packages/client/src/components/UserPassword/UserPassword.tsx
Due: prettier --write, eslint --fix

feat: prosemirror text editor
  packages/client/package.json
  packages/client/src/components/Forum/AddForumItems/AddForumCategory.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemForm.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemWithState.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.module.scss
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumCategoryName.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumComment.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumCategory.tsx
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/InputError/InputError.module.scss
  packages/client/src/components/TextEditor/TextEditor.scss
  packages/client/src/components/TextEditor/TextEditor.tsx
  packages/client/src/hooks/useCommentEditor.ts
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/ForumCategories.tsx
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/validation.ts
  packages/client/vite.config.ts
  packages/server/package.json
  packages/server/src/repositories/CategoryRepository.ts
  packages/server/src/services/CommentService.ts
  packages/server/src/services/TopicService.ts
  yarn.lock
Due: npx stylelint --fix, prettier --write, eslint --fix

chore: docker compose for postgres
  .gitignore
  packages/server/db-scripts/init-db.sql
  packages/server/db.ts
  packages/server/docker-compose.yml
Due: prettier --write, eslint --fix

chore: sanitize-html settings (allow to send images)
  packages/client/src/components/Forum/AddForumItems/AddForumComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumComment.tsx
  packages/client/src/components/TextEditor/TextEditor.tsx
  packages/client/src/utils/sanitizeHtml.ts
  packages/server/src/models/CommentModel.ts
  packages/server/src/services/CommentService.ts
Due: prettier --write, eslint --fix

fix: vite build
  packages/client/src/assets/empty.ts
  packages/client/vite.config.ts
Due: prettier --write, eslint --fix

fix: decrement topic count on topic delete
  packages/server/src/services/TopicService.ts
Due: prettier --write, eslint --fix

initial ssr
  packages/client/index.html
  packages/client/index.js
  packages/client/package.json
  packages/client/src/components/Layout/Layout.module.scss
  packages/client/src/main.tsx
  packages/client/src/pages/GamePage/GamePage.module.scss
  packages/client/ssr-dist/client.cjs
  packages/client/ssr-dist/style.css
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
Due: npx stylelint --fix, prettier --write, eslint --fix

renamr ssr client dist folder and add yarn script
  package.json
  packages/client/package.json
  packages/client/ssr-dist/client.cjs
  packages/client/ssr-dist/style.css
  packages/client/ssr.config.ts
  packages/server/index.ts
Due: prettier --write, eslint --fix

rename yarn script and add instruction to readme
  README.md
  package.json
Due: none

Таймер уровня (#23)
  packages/client/src/components/GameField/GameStat.tsx
  packages/client/src/components/GameField/utils/foo.ts
  packages/client/src/game-engine/GameManager.ts
  packages/client/src/game-engine/game-objects/Rover.ts
  packages/client/src/game-engine/level-information.ts
  packages/client/src/utils/types/game.ts
Due: prettier --write, eslint --fix

Fix main.tsx
  packages/client/src/main.tsx
  packages/client/ssr.tsx
  packages/server/index.ts
Due: prettier --write, eslint --fix

Fix Image, routing and theme settings
  packages/client/src/App.tsx
  packages/client/src/game-engine/game-images.ts
  packages/client/src/router/index.tsx
  packages/server/index.ts
Due: prettier --write, eslint --fix

fix render Image, but game page doesn't work
  packages/client/src/game-engine/game-images.ts
  packages/client/src/pages/GamePage/GamePage.tsx
Due: prettier --write, eslint --fix

feat: start and end level/game screens, minor car move adjustments
  packages/client/src/components/AnimatedFrame/AnimatedFrame.module.scss
  packages/client/src/components/AnimatedFrame/AnimatedFrame.tsx
  packages/client/src/components/Canvas/Canvas.tsx
  packages/client/src/components/GameField/GameCompleted/GameCompleted.module.scss
  packages/client/src/components/GameField/GameCompleted/GameCompleted.tsx
  packages/client/src/components/GameField/GameControlTitle/GameControlTitle.module.scss
  packages/client/src/components/GameField/GameControlTitle/GameControlTitle.tsx
  packages/client/src/components/GameField/GameControls/GameControls.module.scss
  packages/client/src/components/GameField/GameControls/GameControls.tsx
  packages/client/src/components/GameField/GameField.module.scss
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/components/GameField/GameStat.tsx
  packages/client/src/components/GameField/GameStat/GameStat.module.scss
  packages/client/src/components/GameField/GameStat/GameStat.tsx
  packages/client/src/components/StartLevel/StartLevel.module.scss
  packages/client/src/components/StartLevel/StartLevel.tsx
  packages/client/src/game-engine/GameManager.ts
  packages/client/src/game-engine/game-objects/Car.ts
  packages/client/src/game-engine/game-objects/Rover.ts
  packages/client/src/game-engine/game-objects/Triggers.ts
  packages/client/src/game-engine/game-objects/base-classes/BaseTrigger.ts
  packages/client/src/game-engine/game-objects/base-classes/GameBot.ts
  packages/client/src/game-engine/level-information.ts
  packages/client/src/game-engine/services/EventBus.ts
  packages/client/src/game-engine/services/Observable.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/pages/MainPage/MainPage.module.scss
  packages/client/src/pages/Start/Start.tsx
  packages/client/src/router/index.tsx
  packages/client/src/utils/const-variables/menu.ts
  packages/client/src/utils/const-variables/routes.ts
  packages/client/src/utils/types/game.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: levels 3-5 added
  packages/client/public/images/buildings/fast-food.png
  packages/client/public/images/cars/car-blue.png
  packages/client/public/images/road/road-crosswalk.png
  packages/client/src/components/GameField/GameControlTitle/GameControlTitle.module.scss
  packages/client/src/components/GameField/GameControls/GameControls.module.scss
  packages/client/src/game-engine/game-images.ts
  packages/client/src/game-engine/game-objects/StaticMap.ts
  packages/client/src/game-engine/level-information.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

Add service worker
  packages/client/public/error.html
  packages/client/public/sw.js
  packages/client/src/main.tsx
Due: prettier --write, eslint --fix

chore: new image added to sw
  packages/client/public/sw.js
Due: prettier --write, eslint --fix

chore: car width/height, collide method improvement
  packages/client/public/images/cars/car-green.png
  packages/client/public/images/cars/car-red.png
  packages/client/public/images/cars/car-yellow.png
  packages/client/src/game-engine/game-objects/Car.ts
  packages/client/src/game-engine/game-objects/base-classes/GameBot.ts
Due: prettier --write, eslint --fix

chore: proxy requests to ya-praktikum api
  packages/client/src/utils/const-variables/api.ts
  packages/server/index.ts
  packages/server/src/middlewares/auth-middleware.ts
  packages/server/src/utils/yandex-api/auth-api.ts
Due: prettier --write, eslint --fix

ref: singleton class for game images
  packages/client/src/App.tsx
  packages/client/src/components/GameField/GameStat.tsx
  packages/client/src/game-engine/GameImages.ts
  packages/client/src/game-engine/game-images.ts
  packages/client/src/game-engine/game-objects/Rover.ts
  packages/client/src/game-engine/game-objects/StaticMap.ts
  packages/client/src/game-engine/level-information.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/router/index.tsx
  packages/client/src/utils/types/game-images.ts
Due: prettier --write, eslint --fix

chore: proxy ya-praktikum api requests
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/UserAvatar/UserAvatar.tsx
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/rest-api/auth-api.ts
  packages/client/src/utils/rest-api/base-request.ts
  packages/client/src/utils/rest-api/leaderboard-api.ts
  packages/client/src/utils/rest-api/user-api.ts
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/middlewares/proxy-middleware.ts
  packages/server/src/utils/const-variables/api-yandex.ts
  packages/server/src/utils/start-server-helper.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: router for ssr
  packages/client/index.html
  packages/client/src/App.tsx
  packages/client/src/main.tsx
  packages/client/src/router/index.tsx
  packages/client/src/utils/const-variables/routes.ts
  packages/client/ssr.tsx
  packages/server/index.ts
Due: prettier --write, eslint --fix

chore: redux ssr preloaded state
  packages/client/index.html
  packages/client/src/client.d.ts
  packages/client/src/main.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/repositories/UserRepository.ts
  packages/client/src/store/services/ThunkService.ts
  packages/client/src/store/services/UserService.ts
  packages/client/src/store/store.ts
  packages/client/src/store/thunks/auth-thunk.ts
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/repositories/UserRepository.ts
  packages/server/src/utils/const-variables/api-yandex.ts
  packages/server/src/utils/types/api.ts
  packages/server/src/utils/types/user.ts
  packages/server/src/utils/yandex-api/auth-api.ts
  yarn.lock
Due: prettier --write, eslint --fix

ref: game images class, images loaded check
  packages/client/src/game-engine/GameImages.ts
  packages/client/src/game-engine/game-images/cars-images.ts
  packages/client/src/game-engine/game-images/rover-images.ts
  packages/client/src/game-engine/game-images/tile-map-images.ts
  packages/client/src/game-engine/game-images/trigger-images.ts
  packages/client/src/game-engine/game-objects/Rover.ts
  packages/client/src/game-engine/game-objects/StaticMap.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/utils/types/game-images.ts
Due: prettier --write, eslint --fix

fix: docker-compose and init-db script moved to root dir, get comments page check before request
  .gitignore
  db-scripts/init-db.sql
  docker-compose.yml
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/server/docker-compose.yml
Due: prettier --write, eslint --fix

Перенос текущего управления в ControlService.ts
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/game-engine/services/ControlService.ts
  packages/client/src/game-engine/services/EventBus.ts
Due: prettier --write, eslint --fix

fix: game images loaded check, isJSON option for serialize preloaded state
  packages/client/src/game-engine/GameImages.ts
  packages/server/index.ts
Due: prettier --write, eslint --fix

WEB API PointerLock
  packages/client/src/game-engine/services/ControlService.ts
Due: prettier --write, eslint --fix

Управление мышью и клавиатурой
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/game-engine/services/ControlService.ts
Due: prettier --write, eslint --fix

Path conditions:
  npx stylelint --fix: any of: *.scss
  prettier --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
