Repository YP-KVAS/Rover-game: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, prettier --write, eslint --fix

chore: rover, triggers, cars speed and canvas delay adjustments
  packages/client/src/components/canvas/Canvas.tsx
  packages/client/src/game-engine/game-objects/Triggers.ts
  packages/client/src/game-engine/level-information.ts
Due: prettier --write, eslint --fix

Правки по результатам ревью
  packages/client/src/game-engine/GameManager.ts
  packages/client/src/game-engine/game-objects/Car.ts
  packages/client/src/game-engine/game-objects/Triggers.ts
  packages/client/src/game-engine/level-information.ts
Due: prettier --write, eslint --fix

добавлен компонент Title
  packages/client/src/components/Title/Title.module.scss
  packages/client/src/components/Title/Title.tsx
Due: npx stylelint --fix, prettier --write, eslint --fix

добавлена страница Login и логика авторизации
  packages/client/src/pages/Login/Login.module.scss
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Start/Start.tsx
  packages/client/src/router/index.tsx
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/validation.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

Merge with sprint_5
  packages/client/src/components/GameField/GameField.module.scss
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/pages/GamePage.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
Due: npx stylelint --fix, prettier --write, eslint --fix

KVA-26 Sprint 5 game triggers (#11)
  packages/client/public/images/hp.png
  packages/client/public/images/triggers/cargo-load.png
  packages/client/public/images/triggers/cargo-unload.png
  packages/client/src/components/GameField/GameField.module.scss
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/components/GameField/GameStat.module.scss
  packages/client/src/components/GameField/GameStat.tsx
  packages/client/src/game-engine/GameManager.ts
  packages/client/src/game-engine/game-images.ts
  packages/client/src/game-engine/game-objects/Car.ts
  packages/client/src/game-engine/game-objects/Triggers.ts
  packages/client/src/game-engine/game-objects/base-classes/BaseTrigger.ts
  packages/client/src/game-engine/level-information.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/utils/const-variables/game.ts
  packages/client/src/utils/types/game.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

chore: car move minor adjustments
  packages/client/src/game-engine/game-objects/Car.ts
Due: prettier --write, eslint --fix

добавлена очистка ошибок формы логина
  packages/client/src/common-styles/Form.module.scss
  packages/client/src/components/Title/Title.tsx
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/Login/Login.module.scss
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Registration.tsx
  packages/client/src/pages/Registration/Registration.module.scss
  packages/client/src/router/index.tsx
Due: npx stylelint --fix, prettier --write, eslint --fix

Разметка
  packages/client/src/pages/Main.tsx
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/pages/MainPage/MainPage.module.scss
  packages/client/src/router/index.tsx
Due: npx stylelint --fix, prettier --write, eslint --fix

Мигание ровера при ударе
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/game-engine/game-objects/Car.ts
  packages/client/src/game-engine/game-objects/Rover.ts
  packages/client/src/game-engine/game-objects/Triggers.ts
  packages/client/src/game-engine/game-objects/base-classes/BaseTrigger.ts
  packages/client/src/game-engine/game-objects/base-classes/GameBot.ts
  packages/client/src/utils/const-variables/game.ts
Due: prettier --write, eslint --fix

feat: forum page with categories list
  packages/client/src/components/ForumCategory/ForumCategory.module.scss
  packages/client/src/components/ForumCategory/ForumCategory.tsx
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/ForumCategory.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/store.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/const-variables/routes.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

fix: function parameter name
  packages/client/src/game-engine/game-objects/Rover.ts
Due: prettier --write, eslint --fix

Правки по результатам ревью
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/pages/MainPage/MainPage.module.scss
  packages/client/src/utils/const-variables/menu.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

Редирект на стр Логина
  packages/client/src/router/index.tsx
Due: prettier --write, eslint --fix

Мигание ровера при ударе (#17)
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/game-engine/game-objects/Car.ts
  packages/client/src/game-engine/game-objects/Rover.ts
  packages/client/src/game-engine/game-objects/Triggers.ts
  packages/client/src/game-engine/game-objects/base-classes/BaseTrigger.ts
  packages/client/src/game-engine/game-objects/base-classes/GameBot.ts
  packages/client/src/utils/const-variables/game.ts
Due: prettier --write, eslint --fix

KVA-27 - start and end of game
  packages/client/src/game-engine/GameManager.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/utils/const-variables/menu.ts
Due: prettier --write, eslint --fix

KVA-27 - check
  packages/client/src/game-engine/GameManager.ts
Due: prettier --write, eslint --fix

KVA-19 - leaderboard - fixes
  packages/client/src/components/LeaderboardTable/LeaderboardTable.module.scss
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/LeaderboardUserScore/LeaderboardUserScore.tsx
  packages/client/src/pages/Leaderboard/Leaderboard.module.scss
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/utils/const-variables/api.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

KVA-19 - leaderboard - styles - scroll
  packages/client/src/components/LeaderboardTable/LeaderboardTable.module.scss
Due: npx stylelint --fix

KVA-19 - leaderboard - fixes
  packages/client/src/components/LeaderboardTable/LeaderboardTable.module.scss
Due: npx stylelint --fix

KVA-11 Sprint 5 Main page (#16)
  packages/client/src/pages/Main.tsx
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/pages/MainPage/MainPage.module.scss
  packages/client/src/router/index.tsx
  packages/client/src/utils/const-variables/menu.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: forum category page with topics list, AddForumTopic component
  packages/client/src/components/Form/Form.module.scss
  packages/client/src/components/FormInput/FormInput.module.scss
  packages/client/src/components/FormInput/FormInput.tsx
  packages/client/src/components/Forum/AddForumTopic.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumCategory.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
  packages/client/src/components/ForumCategory/ForumCategory.module.scss
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/ForumCategories.tsx
  packages/client/src/pages/Forum/ForumCategory.tsx
  packages/client/src/pages/Forum/ForumLayout.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forms.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/validation.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

Add service worker
  packages/client/public/error.html
  packages/client/public/sw.js
  packages/client/src/main.tsx
Due: prettier --write, eslint --fix

добавлен Хок авторизации
  packages/client/src/components/UserPassword/UserPassword.tsx
  packages/client/src/hocs/requireAuth.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/Registration.tsx
  packages/client/src/pages/Start/Start.tsx
  packages/client/src/pages/UserSettings.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/slices/auth-slice.ts
  packages/client/src/utils/const-variables/pages.ts
Due: prettier --write, eslint --fix

правки после запуска линтера
  packages/client/src/App.module.css
  packages/client/src/components/Header/Header.module.scss
  packages/client/src/components/InputError/InputError.module.scss
  packages/client/src/components/Layout/Layout.module.scss
  packages/client/src/components/Loader/Loader.module.scss
  packages/client/src/components/Tabs/Tabs.module.scss
  packages/client/src/components/TitleWithEdit/TitleWithEdit.module.scss
  packages/client/src/components/ToggleCheckbox/ToggleCheckbox.module.scss
  packages/client/src/components/UserAvatar/UserAvatar.module.scss
  packages/client/src/components/UserPassword/UserPassword.module.scss
  packages/client/src/index.scss
  packages/client/src/pages/GamePage/GamePage.module.scss
  packages/client/src/pages/PageError.module.scss
Due: npx stylelint --fix

feat: forum topic page with nested comments list
  packages/client/index.html
  packages/client/public/images/icons-sprite.svg
  packages/client/src/components/FormInput/FormInput.module.scss
  packages/client/src/components/Forum/AddForumItems/AddForumComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemForm.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemWithState.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/AddForumTopic.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/Layout/Layout.module.scss
  packages/client/src/components/Loader/Loader.module.scss
  packages/client/src/index.scss
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/selectors/user-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/slices/user-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/store/thunks/user-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/const-variables/routes.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/rest-api/user-api.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/validation.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: update, delete forum topic functionality
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumTopicName.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumLayout.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/fake-forum-data.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/validation.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: update and delete forum comments
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumComment.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumTopicName.tsx
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
  packages/client/src/pages/Forum/ForumCategories.tsx
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumLayout.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
Due: prettier --write, eslint --fix

fix: fake-api
  packages/client/src/utils/rest-api/forum-api.ts
Due: prettier --write, eslint --fix

KVA-19 - leaderboard - merge conflicts
  packages/client/src/router/index.tsx
Due: prettier --write, eslint --fix

KVA-27 - Start and end game - fixes
  packages/client/src/pages/GamePage/GamePage.tsx
Due: prettier --write, eslint --fix

fix: forum comment delete (close opened inputs), user-settings forms reset on close
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/UserData/UserData.tsx
  packages/client/src/components/UserPassword/UserPassword.tsx
Due: prettier --write, eslint --fix

Таймер уровня
  packages/client/src/components/GameField/GameStat.tsx
  packages/client/src/components/GameField/utils/foo.ts
  packages/client/src/game-engine/GameManager.ts
  packages/client/src/game-engine/game-objects/Rover.ts
  packages/client/src/game-engine/level-information.ts
  packages/client/src/utils/types/game.ts
Due: prettier --write, eslint --fix

feat: prosemirror text editor
  packages/client/package.json
  packages/client/src/components/Forum/AddForumItems/AddForumCategory.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemForm.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumItemWithState.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.module.scss
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumCategoryName.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumComment.tsx
  packages/client/src/components/Forum/Forum.module.scss
  packages/client/src/components/Forum/ForumCategory.tsx
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/InputError/InputError.module.scss
  packages/client/src/components/TextEditor/TextEditor.scss
  packages/client/src/components/TextEditor/TextEditor.tsx
  packages/client/src/hooks/useCommentEditor.ts
  packages/client/src/pages/Forum/Forum.module.scss
  packages/client/src/pages/Forum/ForumCategories.tsx
  packages/client/src/pages/Forum/ForumComments.tsx
  packages/client/src/pages/Forum/ForumTopics.tsx
  packages/client/src/store/selectors/forum-selector.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/validation.ts
  packages/client/vite.config.ts
  packages/server/package.json
  packages/server/src/repositories/CategoryRepository.ts
  packages/server/src/services/CommentService.ts
  packages/server/src/services/TopicService.ts
  yarn.lock
Due: npx stylelint --fix, prettier --write, eslint --fix

chore: docker compose for postgres
  .gitignore
  packages/server/db-scripts/init-db.sql
  packages/server/db.ts
  packages/server/docker-compose.yml
Due: prettier --write, eslint --fix

chore: sanitize-html settings (allow to send images)
  packages/client/src/components/Forum/AddForumItems/AddForumComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopLevelComment.tsx
  packages/client/src/components/Forum/AddForumItems/AddForumTopic.tsx
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumComment.tsx
  packages/client/src/components/TextEditor/TextEditor.tsx
  packages/client/src/utils/sanitizeHtml.ts
  packages/server/src/models/CommentModel.ts
  packages/server/src/services/CommentService.ts
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  npx stylelint --fix: any of: *.scss
  prettier --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
