Repository YP-KVAS/Rover-game: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, prettier --write, eslint --fix

Правки по ревью
  packages/client/src/components/GameField/GameControls/GameControls.tsx
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/game-engine/services/ControlService.ts
Due: prettier --write, eslint --fix

change server check and fix connect to db
  packages/client/src/App.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/router/index.tsx
  packages/server/index.ts
Due: prettier --write, eslint --fix

fix server check
  packages/client/src/pages/GamePage/GamePage.tsx
Due: prettier --write, eslint --fix

chore: more precised method names
  packages/client/src/App.tsx
  packages/client/src/game-engine/GameImages.ts
Due: prettier --write, eslint --fix

chore: more precised method names
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
Due: prettier --write, eslint --fix

KVA-41 Sprint 7 control and pointer lock (#29)
  packages/client/src/components/GameField/GameControls/GameControls.tsx
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/game-engine/services/ControlService.ts
  packages/client/src/game-engine/services/EventBus.ts
Due: prettier --write, eslint --fix

chore: forum preloaded state
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.tsx
  packages/client/src/main.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/repositories/ForumRepository.ts
  packages/client/src/store/services/ForumService.ts
  packages/client/src/store/services/ThunkService.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/repositories/ThunkForumRepository.ts
  packages/server/src/repositories/ThunkUserRepository.ts
  packages/server/src/repositories/UserRepository.ts
  packages/server/src/services/CategoryService.ts
  packages/server/src/services/CommentService.ts
  packages/server/src/services/UserService.ts
  packages/server/src/utils/types/dto.ts
  packages/server/src/utils/types/query.ts
Due: prettier --write, eslint --fix

ref: get comment author request moved from client to server, role added to get user request
  packages/client/src/components/Forum/ForumCategory.tsx
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/components/Layout/Layout.module.scss
  packages/client/src/index.scss
  packages/client/src/pages/Forum/ForumCategories.tsx
  packages/client/src/pages/GamePage/GamePage.module.scss
  packages/client/src/store/repositories/UserRepository.ts
  packages/client/src/store/selectors/user-selector.ts
  packages/client/src/store/services/UserService.ts
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/store/slices/user-slice.ts
  packages/client/src/store/thunks/auth-thunk.ts
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/store/thunks/user-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/rest-api/auth-api.ts
  packages/client/src/utils/rest-api/user-api.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/types/user.ts
  packages/client/ssr.config.ts
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/src/controllers/CommentController.ts
  packages/server/src/controllers/UserController.ts
  packages/server/src/middlewares/auth-middleware.ts
  packages/server/src/repositories/CommentRepository.ts
  packages/server/src/repositories/ThunkForumRepository.ts
  packages/server/src/repositories/ThunkUserRepository.ts
  packages/server/src/router/api-router/UserRouter.ts
  packages/server/src/services/CommentService.ts
  packages/server/src/services/UserService.ts
  packages/server/src/utils/const-variables/api-yandex.ts
  packages/server/src/utils/const-variables/api.ts
  packages/server/src/utils/types/dto.ts
  packages/server/src/utils/types/user.ts
  packages/server/src/utils/validation-schemas.ts
  packages/server/src/utils/yandex-api/user-api.ts
  packages/server/swagger.json
Due: npx stylelint --fix, prettier --write, eslint --fix

fix: background-clip style
  packages/client/src/components/GameField/GameControlTitle/GameControlTitle.module.scss
  packages/client/src/components/GameField/GameControls/GameControls.module.scss
Due: npx stylelint --fix

fix: rover move on level change
  packages/client/src/game-engine/services/ControlService.ts
Due: prettier --write, eslint --fix

fix: sw.js prod path added
  packages/server/index.ts
Due: prettier --write, eslint --fix

Небольшие правки в код, базовая сборка докера
  Dockerfile.server
  docker-compose.yml
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/utils/start-server-helper.ts
Due: prettier --write, eslint --fix

Работает с костылем
  Dockerfile
  docker-compose.yml
  packages/server/index.ts
Due: prettier --write, eslint --fix

Отладка докера
  docker-compose.yml
  packages/server/index.ts
Due: prettier --write, eslint --fix

fix: application/json req body parser added
  packages/server/index.ts
Due: prettier --write, eslint --fix

fix: typo
  packages/client/src/index.scss
Due: npx stylelint --fix

Путь к папке client
  packages/server/index.ts
Due: prettier --write, eslint --fix

Убрал лишние файлы
  Dockerfile.client
  Dockerfile.server
Due: none

fix: minified React error (ssr-html does not match client html) caused by date
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
Due: prettier --write, eslint --fix

Healthcheck для сервера
  Dockerfile
  docker-compose.yml
Due: none

fix: undefined user.role.name
  packages/server/src/services/UserService.ts
Due: prettier --write, eslint --fix

WIP oauth из ветки dev
  .env.sample
  Dockerfile.client
  Dockerfile.server
  packages/client/src/components/OAuth/OAuth.tsx
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/store/slices/oauth-slice.ts
  packages/client/src/store/thunks/auth-thunk.ts
  packages/client/src/store/thunks/oauth-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/rest-api/base-request.ts
  packages/client/src/utils/rest-api/oauth-api.ts
  packages/client/src/utils/types/oauth.ts
  packages/client/vite.config.ts
Due: prettier --write, eslint --fix

WIP oauth
  .env.sample
  Dockerfile.client
  Dockerfile.server
  packages/client/src/components/OAuth/OAuth.tsx
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/store/thunks/oauth-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/rest-api/oauth-api.ts
  packages/client/src/utils/types/oauth.ts
  packages/client/vite.config.ts
  packages/server/src/utils/start-server-helper.ts
  packages/server/swagger.json
Due: prettier --write, eslint --fix

Небольшие исправления
  Dockerfile
  db-scripts/init-db.sql
  docker-compose.yml
  packages/client/src/utils/const-variables/api.ts
Due: prettier --write, eslint --fix

Исправление инициализации БД
  db-scripts/init-db.sql
  docker-compose.yml
Due: none

BASE URL
  docker-compose.yml
  packages/client/package.json
  packages/client/vite.config.ts
  packages/server/package.json
  yarn.lock
Due: prettier --write, eslint --fix

pgadmin env
  .pgadmin.env
  docker-compose.yml
Due: none

Правки окружений
  .env.sample
  .pgadmin.env.sample
  docker-compose.yml
  packages/client/.env.sample
Due: none

Значение по умолчанию для Base url
  packages/client/src/utils/const-variables/api.ts
Due: prettier --write, eslint --fix

добавлена OAuth авторизация
  .env.sample
  .pgadmin.env
  Dockerfile
  packages/client/.env.sample
  packages/client/src/components/OAuth/OAuth.tsx
  packages/client/src/pages/Login.tsx
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/store/thunks/oauth-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/rest-api/auth-api.ts
  packages/client/src/utils/rest-api/oauth-api.ts
  packages/client/src/utils/types/oauth.ts
  packages/client/vite.config.ts
  packages/server/src/utils/start-server-helper.ts
  packages/server/swagger.json
Due: prettier --write, eslint --fix

KVA-49 + KVA-50 - Sprint 8 - Emoji
  .env.sample
  db-scripts/init-db.sql
  packages/client/public/images/icons-sprite.svg
  packages/client/src/components/Forum/CommentActions/CommentActions.tsx
  packages/client/src/components/Forum/CrudIcons/CrudIcons.module.scss
  packages/client/src/components/Forum/CrudIcons/EmojiIcons.tsx
  packages/client/src/components/Forum/EditForumItems/EditForumComment.tsx
  packages/client/src/components/Forum/ForumComment.tsx
  packages/client/src/store/thunks/forum-thunk.ts
  packages/client/src/utils/const-variables/emoji.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
  packages/server/src/controllers/CommentController.ts
  packages/server/src/models/CommentModel.ts
  packages/server/src/repositories/CommentRepository.ts
  packages/server/src/services/CommentService.ts
  packages/server/src/services/TopicService.ts
  packages/server/src/utils/types/dto.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

KVA-49 + KVA-50 - Sprint 8 - Emoji - Roll back db script
  db-scripts/init-db.sql
Due: none

KVA-49 + KVA-50 - Sprint 8 - Emoji - Delete console.log
  packages/client/src/components/Forum/CommentActions/CommentActions.tsx
Due: prettier --write, eslint --fix

KVA-49 + KVA-50 - Sprint 8 - Emoji - Lint - replace let with const
  packages/client/src/components/Forum/CommentActions/CommentActions.tsx
Due: prettier --write, eslint --fix

KVA-52 Sprint 8 docker (#30)
  .env.sample
  .pgadmin.env.sample
  Dockerfile
  Dockerfile.client
  Dockerfile.server
  db-scripts/init-db.sql
  docker-compose.yml
  packages/client/.env.sample
  packages/client/package.json
  packages/client/src/utils/const-variables/api.ts
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/utils/start-server-helper.ts
  yarn.lock
Due: prettier --write, eslint --fix

ref: oauth-thunk removed, get user method renamed
  packages/client/src/components/OAuth/OAuth.tsx
  packages/client/src/pages/MainPage/Main.tsx
  packages/client/src/store/thunks/oauth-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/rest-api/oauth-api.ts
  packages/server/src/controllers/UserController.ts
  packages/server/src/router/api-router/UserRouter.ts
Due: prettier --write, eslint --fix

fix: import restored
  packages/client/src/utils/const-variables/api.ts
Due: prettier --write, eslint --fix

fix to SW for auth requests
  packages/client/public/sw.js
  packages/client/src/utils/rest-api/auth-api.ts
  packages/client/src/utils/rest-api/base-request.ts
  packages/client/src/utils/rest-api/oauth-api.ts
Due: prettier --write, eslint --fix

fix no GET request
  .pgadmin.env
  packages/client/public/sw.js
  packages/client/src/utils/rest-api/forum-api.ts
Due: prettier --write, eslint --fix

Path conditions:
  npx stylelint --fix: any of: *.scss
  prettier --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
