Repository YP-KVAS/Rover-game: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.scss": ["npx stylelint --fix"],
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

fix needless noCached
  packages/client/src/utils/rest-api/auth-api.ts
Due: prettier --write, eslint --fix

KVA-40 - Leaderboard
  db-scripts/init-db.sql
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/LeaderboardUserScore/LeaderboardUserScore.tsx
  packages/client/src/store/selectors/leaderboard-selector.ts
  packages/client/src/store/selectors/user-selector.ts
  packages/client/src/store/slices/leaderboard-slice.ts
  packages/client/src/store/slices/user-slice.ts
  packages/client/src/store/thunks/leaderboard-thunk.ts
  packages/client/src/utils/const-variables/menu.ts
  packages/client/src/utils/rest-api/leaderboard-api.ts
  packages/client/src/utils/types/leaderboard.ts
  packages/client/src/utils/types/user.ts
  packages/server/src/controllers/UserController.ts
  packages/server/src/models/UserModel.ts
  packages/server/src/repositories/ThunkUserRepository.ts
  packages/server/src/repositories/UserRepository.ts
  packages/server/src/router/api-router/UserRouter.ts
  packages/server/src/services/UserService.ts
  packages/server/src/utils/types/user.ts
  packages/server/swagger.json
Due: prettier --write, eslint --fix

Sprint 7 - Leaderboard
  packages/client/src/utils/const-variables/menu.ts
Due: prettier --write, eslint --fix

fix to SW for auth requests (#34)
  .pgadmin.env
  packages/client/public/sw.js
  packages/client/src/utils/rest-api/auth-api.ts
  packages/client/src/utils/rest-api/base-request.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/rest-api/oauth-api.ts
Due: prettier --write, eslint --fix

смена темы на клиенте
  packages/client/src/App.tsx
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/ColorTheme/ColorTheme.module.scss
  packages/client/src/components/ColorTheme/ColorTheme.tsx
  packages/client/src/components/Header/Header.tsx
  packages/client/src/contexts/ThemeContext.ts
  packages/client/src/utils/const-variables/forms.ts
  packages/client/src/utils/const-variables/theme.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

ref: leaderboard table, endless scroll added
  db-scripts/init-db.sql
  packages/client/src/components/Header/Header.module.scss
  packages/client/src/components/LeaderboardTable/LeaderboardItem.tsx
  packages/client/src/components/LeaderboardTable/LeaderboardTable.module.scss
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/LeaderboardUserScore/LeaderboardUserScore.module.scss
  packages/client/src/components/LeaderboardUserScore/LeaderboardUserScore.tsx
  packages/client/src/pages/Leaderboard/Leaderboard.module.scss
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/store/selectors/leaderboard-selector.ts
  packages/client/src/store/slices/leaderboard-slice.ts
  packages/client/src/store/thunks/leaderboard-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/const-variables/menu.ts
  packages/client/src/utils/rest-api/leaderboard-api.ts
  packages/client/src/utils/types/user.ts
  packages/server/src/models/UserModel.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: leaderboard api (get query), endless scroll replaced with pagination
  .gitignore
  db-scripts/init-db.sql
  packages/client/src/components/LeaderboardTable/LeaderboardItem.tsx
  packages/client/src/components/LeaderboardTable/LeaderboardTable.module.scss
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/LeaderboardUserScore/LeaderboardUserScore.module.scss
  packages/client/src/components/LeaderboardUserScore/LeaderboardUserScore.tsx
  packages/client/src/components/PageLinks/PageLinks.module.scss
  packages/client/src/pages/Leaderboard/Leaderboard.module.scss
  packages/client/src/store/repositories/UserRepository.ts
  packages/client/src/store/selectors/leaderboard-selector.ts
  packages/client/src/store/selectors/user-selector.ts
  packages/client/src/store/services/UserService.ts
  packages/client/src/store/slices/leaderboard-slice.ts
  packages/client/src/store/slices/user-slice.ts
  packages/client/src/store/thunks/auth-thunk.ts
  packages/client/src/store/thunks/leaderboard-thunk.ts
  packages/client/src/utils/const-variables/api.ts
  packages/client/src/utils/rest-api/auth-api.ts
  packages/client/src/utils/rest-api/leaderboard-api.ts
  packages/client/src/utils/types/base-query.ts
  packages/client/src/utils/types/forum.ts
  packages/client/src/utils/types/leaderboard.ts
  packages/client/src/utils/types/user.ts
  packages/server/index.ts
  packages/server/src/controllers/LeaderboardController.ts
  packages/server/src/controllers/UserController.ts
  packages/server/src/middlewares/auth-middleware.ts
  packages/server/src/models/UserModel.ts
  packages/server/src/repositories/ThunkUserRepository.ts
  packages/server/src/repositories/UserRepository.ts
  packages/server/src/router/api-router/LeaderboardRouter.ts
  packages/server/src/services/LeaderboardService.ts
  packages/server/src/services/UserService.ts
  packages/server/src/utils/const-variables/api.ts
  packages/server/src/utils/types/user.ts
  packages/server/src/utils/validation-schemas.ts
  packages/server/swagger.json
Due: npx stylelint --fix, prettier --write, eslint --fix

feat: leaderboard api (patch query), save best user score
  packages/client/src/components/GameField/GameControls/GameControls.tsx
  packages/client/src/game-engine/GameManager.ts
  packages/client/src/store/slices/user-slice.ts
  packages/client/src/store/thunks/leaderboard-thunk.ts
  packages/client/src/utils/rest-api/leaderboard-api.ts
  packages/client/src/utils/types/leaderboard.ts
  packages/client/src/utils/types/user.ts
  packages/server/src/controllers/LeaderboardController.ts
  packages/server/src/repositories/UserRepository.ts
  packages/server/src/router/api-router/LeaderboardRouter.ts
  packages/server/src/services/UserService.ts
  packages/server/src/utils/types/user.ts
  packages/server/src/utils/validation-schemas.ts
  packages/server/swagger.json
Due: prettier --write, eslint --fix

fix: topics scroll (offset replaced with updatedAt cursor)
  packages/client/src/components/Forum/CommentHeaderAndMessage/CommentHeaderAndMessage.tsx
  packages/client/src/components/Forum/ForumTopic.tsx
  packages/client/src/store/slices/forum-slice.ts
  packages/client/src/utils/rest-api/forum-api.ts
  packages/client/src/utils/types/forum.ts
  packages/server/src/controllers/TopicController.ts
  packages/server/src/repositories/ThunkForumRepository.ts
  packages/server/src/repositories/TopicRepository.ts
  packages/server/src/services/TopicService.ts
  packages/server/src/utils/types/dto.ts
  packages/server/src/utils/types/query.ts
  packages/server/src/utils/validation-schemas.ts
Due: prettier --write, eslint --fix

chore: leaderboard preloaded state
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/main.tsx
  packages/client/src/router/index.tsx
  packages/client/src/store/repositories/LeaderboardRepository.ts
  packages/client/src/store/services/LeaderboadService.ts
  packages/client/src/store/services/ThunkService.ts
  packages/client/src/store/thunks/leaderboard-thunk.ts
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/src/repositories/ThunkLeaderboardRepository.ts
  packages/server/src/utils/types/query.ts
Due: prettier --write, eslint --fix

fix: NaN warning
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
Due: prettier --write, eslint --fix

doc: swagger json update
  packages/server/swagger.json
Due: none

style: leaderboard error
  packages/client/src/components/LeaderboardTable/LeaderboardTable.module.scss
  packages/client/src/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/store/slices/leaderboard-slice.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

добавлены звуки
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/public/images/icons-sprite.svg
  packages/client/public/sounds/complete.mp3
  packages/client/public/sounds/crash.mp3
  packages/client/public/sounds/gameOver.mp3
  packages/client/public/sounds/scoreIncrease.mp3
  packages/client/public/sounds/start.mp3
  packages/client/src/components/GameField/GameControls/GameControls.tsx
  packages/client/src/components/GameField/GameStat/GameStat.module.scss
  packages/client/src/components/GameField/GameStat/GameStat.tsx
  packages/client/src/components/Layout/Layout.module.scss
  packages/client/src/components/StartLevel/StartLevel.tsx
  packages/client/src/components/Timer/Timer.module.scss
  packages/client/src/contexts/SoundContext.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/utils/const-variables/sound.ts
  yarn.lock
Due: npx stylelint --fix, prettier --write, eslint --fix

Тест
  .github/workflows/build_and_push.yaml
Due: none

Тест 3
  .github/workflows/build_and_push.yaml
  Dockerfile
Due: none

fix
  Dockerfile
  init.js
Due: prettier --write, eslint --fix

test 4
  Dockerfile
Due: none

test 5
  Dockerfile
  package.json
Due: none

Rename branch
  .github/workflows/build_and_push.yaml
Due: none

env.sample
  .env.sample
  .github/workflows/build_and_push.yaml
Due: none

env.sample
  .env.sample
Due: none

test
  .env.sample
  packages/client/src/utils/const-variables/api.ts
Due: prettier --write, eslint --fix

fix ререндеринга и импорта звуков
  packages/client/public/sw.js
  packages/client/src/components/GameField/GameControls/GameControls.tsx
  packages/client/src/components/GameField/GameField.tsx
  packages/client/src/components/GameField/GameStat/GameStat.module.scss
  packages/client/src/components/GameField/GameStat/GameStat.tsx
  packages/client/src/components/StartLevel/StartLevel.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/server/index.ts
Due: npx stylelint --fix, prettier --write, eslint --fix

chore: env var import.meta.env?.VITE_BASE_URL
  .github/workflows/build_and_push.yaml
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/utils/const-variables/api.ts
  packages/client/vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: cors env
  .env.sample
  packages/server/src/utils/start-server-helper.ts
Due: prettier --write, eslint --fix

fix
  .env.sample
  package.json
  packages/client/src/utils/const-variables/api.ts
  packages/server/src/utils/yandex-api/user-api.ts
Due: prettier --write, eslint --fix

test: log import.meta.env
  packages/client/src/utils/const-variables/api.ts
Due: prettier --write, eslint --fix

env: VITE_BASE_URL update
  .env.sample
Due: none

test fix
  .github/workflows/build_and_push.yaml
Due: none

test fix
  packages/client/src/utils/const-variables/api.ts
  packages/server/src/utils/yandex-api/user-api.ts
Due: prettier --write, eslint --fix

test fix
  packages/server/src/utils/yandex-api/user-api.ts
Due: prettier --write, eslint --fix

chore: nginx service and conf
  .env.sample
  docker-compose.yml
  nginx.conf
  packages/client/src/utils/const-variables/api.ts
Due: prettier --write, eslint --fix

test
  packages/server/src/utils/yandex-api/user-api.ts
Due: prettier --write, eslint --fix

fix
  .env.sample
Due: none

chore: nginx ssl, http2 conf
  .env.sample
  .github/workflows/build_and_push.yaml
  docker-compose.yml
  nginx.conf
Due: none

chore: domain name changed
  .env.sample
  nginx.conf
Due: none

chore: favicon added, minor main page adjustment
  packages/client/index.html
  packages/client/public/error.html
  packages/client/public/favicon.ico
  packages/client/public/sw.js
  packages/client/public/vite.svg
  packages/client/src/pages/MainPage/Main.tsx
  packages/server/index.ts
Due: prettier --write, eslint --fix

chore: minor nginx.conf adjustment
  nginx.conf
Due: none
